<div class="text-center w-100">
  <nw-ui-game-header [headerTitle]="'guess.name' | translate"></nw-ui-game-header>
  <nw-ui-btn class="mt-10 mb-5"
             [btnText]="'common.play' | translate"
             (btnClick)="gotoPage(GUESS_PAGE.PLAY, true)"></nw-ui-btn>
  <nw-ui-btn class="mb-5"
             *ngIf="guessData.continue"
             [btnText]="'common.continue' | translate"
             (btnClick)="gotoPage(GUESS_PAGE.PLAY)"></nw-ui-btn>
  <nw-ui-btn class="mb-5"
             [btnText]="'common.settings' | translate"
             (btnClick)="gotoPage(GUESS_PAGE.SETTINGS)"></nw-ui-btn>
  <nw-ui-btn class="mb-15"
             [btnText]="'common.help' | translate"
             (btnClick)="gotoPage(GUESS_PAGE.HELP)"></nw-ui-btn>
  <nw-ui-btn class=""
             btnText="< {{'common.gameMenu' | translate}}"
             (btnClick)="backGameMenu()"></nw-ui-btn>
</div>