@import './assets/fonts/index.css';
@import './assets/fonts/iconfont/iconfont.css';
@import './theme/color/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-size: 2.4vh;
  /* Roboto 100,100i,300,300i,400,400i,500,500i,700,700i,900,900i */
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 0.5px;
  background: #f0f0f0;
  color: #333;
  width: 100%;
  height: 100%;
  display: block;
}

input,
button {
  font-family: inherit;
  font-weight: inherit;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.small {
  font-size: 80%;
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mb-half {
  margin-bottom: 0.5vh;
}

.mr-half {
  margin-right: 0.5vw;
}

.mt-half {
  margin-top: 0.5vh;
}

.ml-half {
  margin-left: 0.5vw;
}

.pb-half {
  padding-bottom: 0.5vh;
}

.pr-half {
  padding-right: 0.5vw;
}

.pt-half {
  padding-top: 0.5vh;
}

.pl-half {
  padding-left: 0.5vw;
}

@for $i from 0 through 20 {
  .mb-#{$i} {
    margin-bottom: $i * 1vh;
  }

  .mr-#{$i} {
    margin-right: $i * 1vw;
  }

  .mt-#{$i} {
    margin-top: $i * 1vh;
  }

  .ml-#{$i} {
    margin-left: $i * 1vw;
  }

  .my-#{$i} {
    margin-top: $i * 1vh;
    margin-bottom: $i * 1vh;
  }

  .mx-#{$i} {
    margin-left: $i * 1vw;
    margin-right: $i * 1vw;
  }

  .pb-#{$i} {
    padding-bottom: $i * 1vh;
  }

  .pr-#{$i} {
    padding-right: $i * 1vw;
  }

  .pt-#{$i} {
    padding-top: $i * 1vh;
  }

  .pl-#{$i} {
    padding-left: $i * 1vw;
  }

  .py-#{$i} {
    padding-top: $i * 1vh;
    padding-bottom: $i * 1vh;
  }

  .px-#{$i} {
    padding-left: $i * 1vw;
    padding-right: $i * 1vw;
  }
}