<div class="home-container text-center" [@flyInOut]="'in'">
  <div class="home-container-bg"></div>
  <div class="home-container-content">
    <h3 class="pt-10 pb-15 title">
      Number in One
    </h3>
    <p class="pb-10 btn-box">
      <nw-ui-btn routerLink="/sudo"
                 [btnText]="'sudoku.name' | translate"></nw-ui-btn>
    </p>
    <p class="pb-5 btn-box">
      <nw-ui-btn routerLink="/guess"
                 [btnText]="'guess.name' | translate"></nw-ui-btn>
    </p>
  </div>
  <!-- <p class="pb-5">
    <nw-ui-btn
               [btnText]="'common.stars' | translate"></nw-ui-btn>
  </p> -->
</div>